<div class="coverTest">
    <ul>
    [% FOREACH d IN data %]
        [% IF d.isbn %]
            <li>
                <img src="http://images.amazon.com/images/P/[% d.isbn %].01.LZZZZZZZ.jpg" />
		<a href="/cgi-bin/koha/opac-detail.pl?biblionumber=[% d.biblionumber %]">[% d.title %]</a>
            </li>
        [% END %]
    [% END %]
    </ul>
</div>
